
{% extends "base.html" %}

{% block content %}

<div class="container">

  <div class="box">
    <div class="row">

      
      <div class="col-md-5">
        <h2 class="brand-before">
          <small>Welcome to</small>
        </h2>
        <h1 class="brand-name">Hwang's Page</h1>
        <hr>
        <!-- <hr class="tagline-divider"> -->
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        
        
        

        <p>
        <!--
        Hi! I'm Hsiang-Chih Hwang. I got my Bachelor degree in National Taiwan University, double majoring in <u>Physics</u> and <u>Electrical Engineering</u>.</p>
        -->
        Hi! I'm Hsiang-Chih Hwang. I have recently graduated from National Taiwan University with double Bachelor degrees in <b>Physics</b> and <b>Electrical Engineering</b>.

        <p>
        As part of my undergraduate research, I worked on:</p>
        <ul>
          <li><p>
          Numerical modelling to build the relation between magnetic field in stellar jets and the polarization of molecular line.</p></li>
          <li><p>
          Study of protoplanetary disk formation with ALMA data, in which I looked into the velocity profile of the disk to understand the influence of the magnetic field.</p></li>
          <li><p>
          Designing and implementing particle-related functions into our code "GAMER" to allow particles to evolve precisely with adaptive mesh and individual time step.</p></li>
        </ul>
        
        <p>
        For more information, check <a href="research">Research</a>!
        </p>

        <!--
        <p>
        In terms of my future research, I'm strongly interested in certain AGN/black hole works: coevolution with galaxies, intermediate-mass BHs, spin of BHs, and the formation of first SMBHs, from the perspectives of both simulation and observation. It's really exciting to see how universe can surprise us!</p>
        
        -->
        <p>
        My non-academic interests include playing the piano and badminton. Also, one of the highlights of my life is my trip to <b>Tibet</b>; I have uploaded some photos of Tibet’s beautiful sceneries to <a href="life">Life</a>--check them out!
        </p>

      </div>


      <div class="col-md-6 text-center">
          <div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                  <div class="item active">
                      <img class="img-responsive img-full" src="img/index/Particle.jpg" alt="">
                      <div  class="carousel-caption">
                        <h4>Particle in AMR Simulation</h4>
                      </div>
                  </div>
                  <div class="item">
                      <img class="img-responsive img-full" src="img/index/GK.png" alt="">
                      <div  class="carousel-caption" style="color: black">
                        <h4>GK Effect</h4>
                      </div>
                  </div>
                  <div class="item">
                      <img class="img-responsive img-full" src="img/index/BlackHole.jpg" alt="">
                      <div  class="carousel-caption">
                        <h4>Ray Tracing of Black Hole</h4>
                      </div>
                  </div>

                  <div class="item">
                      <img class="img-responsive img-full" src="img/index/c18o_PVdiagram.png" alt="">
                      <div  class="carousel-caption">
                        <h4>Formation of Keplerian Disk</h4>
                      </div>
                  </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="icon-next"></span>
              </a>
          </div>

          
      </div>
    </div>

    <div class="row">

      
      <div class="col-md-4 contact-char">
        <h2>Contact Me!</h2>
        <hr>
        <!-- <hr class="tagline-divider"> -->
        
        Hsiang-Chih Hwang 黃翔致 
        <br>
        <span class="contact-em">E-mail:</span> yesjimmy62@gmail.com 
        
      </div>

    </div>

  </div>



</div>
<!-- /.container -->


{% endblock %}