
{% extends "base.html" %}

{% block content %}

<div class="container">

        
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr>
                            <h2 class="intro-text">
                                <strong>Tibet</strong>
                            </h2>
                            <h4>
                                2013/7/9 - 2013/7/23
                            </h4>


                        <hr> 
                    </div>
                </div>

                <p>
                I longed to visit Tibet since I entered the university. After one year of preparation, I went to Tibet in the summer of 2013. I enjoyed the mountains, rivers, culture and history in Tibet, and this trip became my best, and most chrished memory.

                </p>

            </div>
            <div class="col-md-6">

                <div id="carousel-Tibet" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-Tibet" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-Tibet" data-slide-to="1"></li>
                        <li data-target="#carousel-Tibet" data-slide-to="2"></li>
                        <li data-target="#carousel-Tibet" data-slide-to="3"></li>
                        <li data-target="#carousel-Tibet" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/tibet/DSCF3652.JPG" alt="">
                            <div  class="carousel-caption">
                            <h4>Mount Everest</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/tibet/DSCF2258.JPG" alt="">
                            <div  class="carousel-caption">
                            <h4>Potala Palace</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/tibet/DSCF4295.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/tibet/DSCF2729.JPG" alt="">
                            <div  class="carousel-caption">
                            <h4>Wangbur Mountain</h4>
                            </div>
                        </div>
                        
                        <div class="item">
                            <img class="img-responsive img-full" src="img/tibet/DSCF5468.JPG" alt="">
                            <div  class="carousel-caption">
                            <h4>Namtso</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-Tibet" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-Tibet" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>

            </div>
        </div> <!-- ./row -->
    </div> <!-- ./box -->

    
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr>
                            <h2 class="intro-text">
                                <strong>Trio Concert</strong>
                            </h2>
                            <h4>
                                2013/2/23
                            </h4>
                        <hr> 
                    </div>
                </div>

                <p>
                I studied in a special class for musically-talented students in elementary school and junior high school, majoring in piano and minoring in viola. Although I no longer study music, I still participate in many music activities. In my third year of college, some friends and I decided to arrange a trio concert, aiming to perform the masterpiece: "A La Memoire D'un Grand Artiste (In memory of a great artist)," by Tchaikovsky. It took us one year to prepare, and we had a great time in collaborating and practicing. Now I don't play the piano as much as I used to, but this concert was undoubtedly the best achievement in my career of music.
                </p>

            </div>
            <div class="col-md-6">

                <div id="carousel-trio" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-trio" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-trio" data-slide-to="1"></li>
                        <li data-target="#carousel-trio" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/trio/IMG_8806.JPG" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/trio/IMG_8811.JPG" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/trio/IMG_9091.JPG" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-trio" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-trio" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>

            </div>
        </div> <!-- ./row -->
    </div> <!-- ./box -->


    
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="text-center">
                        <hr>
                            <h2 class="intro-text">
                                <strong>Badminton Life</strong>
                            </h2>
                            <h4>
                                2010/9 - 2015/6
                            </h4>
                        <hr> 
                    </div>
                </div>

                <p>
                I was once the captain of the Electronic Engineering Dept.'s badminton team, and I stayed on as a team member throughout my college. I was first a trainee, and then a trainer among my badminton teammates, and I found that I really enjoyed coaching others and seeing them improve. Even more, in the badminton team I learned how to organize group events and manage its finance. The atmosphere of our team is like a great family; we practiced hard and have won numerous prizes in many competitions together.
                </p>

            </div>
            <div class="col-md-6">
                <img src="img/badm/2.jpg" class="img-responsive">
            </div>


        </div> <!-- row -->

            
    </div> <!-- ./box -->
    





</div> <!-- ./container -->

{% endblock %}