{% extends "base.html" %}

{% block content %}

<div class="container">

  <div class="box">

    <div class="row">
        <div class="col-md-12 text-center">
          <hr>
            <h2 class="intro-text">
                <strong>Useful Links</strong>
            </h2>
          <hr>
        </div>
    </div>

    <div class="row">
      <div class = "col-md-6 col-md-offset-1">
        <p>
        <a target="_blank" href='http://ned.ipac.caltech.edu/'>NED</a>
        <br>
        <a target="_blank" href='http://skyserver.sdss.org/dr1/en/tools/search/sql.asp'>SDSS DR1 SQL search</a>
        <br>
        <a target="_blank" href="http://skyserver.sdss.org/dr7/en/tools/search/sql.asp">SDSS DR7 SQL search</a>
        <br>
        <a target="_blank" href="https://ui.adsabs.harvard.edu/">ADS</a>
        <br>        
        
        <a target="_blank" href="http://astrobites.org/">astrobites</a>

        <br>
        <h4>ALMA data processing</h4>
        <a target="_blank" href="https://casaguides.nrao.edu/index.php/M100_Band3_Combine_4.3">M100 Band3 Combine 4.3</a>
        <br>
        <a target="_blank" href="https://casaguides.nrao.edu/index.php/M100_Band3_SingleDish_4.3">M100 Band3 Single Dish 4.3</a>
        <br>
        <a target="_blank" href="https://casaguides.nrao.edu/index.php/DataWeightsAndCombination">Data Weights and Combination</a>
        <br>
        <h4>Learning Material</h4>
        <a target="_blank" href="http://home.strw.leidenuniv.nl/~rottgering/Site/AGN_lectures_files/AGN-1.pdf">AGN Leiden Lecture</a>
        <br>
        <a target="_blank" href="http://129.138.23.21/Mediasite/Catalog/Full/fcf533162ecd4126aa077f923c97a86a21">NRAO Workshop</a>





        </p>

        <h4>English Learning</h4>
        <a target="_blank" href='http://www.scientificamerican.com/podcast/60-second-science/'>60 Second Science</a>
        <br>
        <a target="_blank" href='https://tw.voicetube.com/channel/bbc'>Voice Tube</a>


        <h4>Japanese Learning</h4>
        <a target="_blank" href="http://jp.sonic-learning.com/category/%E2%85%A2%E3%80%80%E9%9F%B3%E9%80%9F%E6%97%A5%E8%AA%9E%E6%96%87%E6%B3%95%E6%95%99%E6%9D%90/%E2%85%B0%E3%80%80%E5%9F%BA%E7%A4%8E%E6%96%87%E6%B3%95/">Sonic Japanese</a>
        <br>

        <h4>Entertainment</h4>
        <a target="_blank" href="http://www.tv543.com/us/game-of-thrones/s2-ep1.php">Series: Game of Thrones (Chinese)</a>
        <br>
         <a target="_blank" href="http://www.alluc.ee/l/Game-of-Thrones-S02E02-480p-WEB-DL-x264-Sticky83/fby1y7pq">Series: Game of Thrones (English)</a>

      </class>

    </div>



  </div>



</div>
<!-- /.container -->


{% endblock %}