
{% extends "base.html" %}

{% block content %}

<div class="main container">

  <div class="row">
    <div class="box">

      <!--some introduction, and my photo-->
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
        <h2 class="info-name"> Hello,<br> I'm Hsiang-Chih Hwang! </h2>
        <p>
        I was born in Taipei, Taiwan. I have always been interested in physics, but it was not until my university that I decided my career of astrophysics. I studied in a music-professioned class before entering senior high school, majoring in piano and minoring in viola. After receiving full marks in College Entrance Exam, I decided to major in Electrical Engineering, the most sought out major at National Taiwan University. Because of my passion for physics, I double-majored in Physics and became very devoted to astronomical research. 
        </p>
        <p>
        I love spreading exciting discovery of the Universe and sharing the scientific story behind the dark sky with people around me, whether to college students in courses I TA or to fellow comrades in my mandatory military service. I enjoy exploring Nature and helping others see the scientific beauty of the world around us.
        </p>


        </div>

        <div class="col-md-4">
          <img class="img-responsive img-full" src="img/me/4-2.jpg" alt="">
        </div>
      </div>

      <!--Start: table of experience-->
    	<div class="table-row">
        <div class="bar-title">Education</div>
        
        <table id="infoTable"> 
        
          <tbody><tr> 
          <td>2010/09 - 2015/06</td>
            <td><a href="http://www.ntu.edu.tw/english/" target="_blank"><span class="school">National Taiwan University</span></a>, Taipei, Taiwan<br> 
            double Bachelor degrees in <b>Physics</b> and <b>Electrical Engineering</b><br>
          
          
          </b></b></td></tr> 

          <tr> 
          <td>2007/09 - 2010/06</td>
            <td><a href="http://web.ck.tp.edu.tw/web2007en/index.php" target="_blanck"><span class="school">Chien Kuo High School</span></a>, Taipei, Taiwan<br>

          </b></b></td></tr> 

          <tr> 

          <td>2004/09 - 2007/06</td>
            <td><a href="http://jr.hs.ntnu.edu.tw/" target="_blank"><span class="school">Junior High School of Taiwan Normal University</span></a>, Taipei, Taiwan<br>
            Diploma in Music Talented Class
            </td>
          </tr>

          </tbody>
        </table>



        <div class="bar-title">Honors and Awards</div>
          <table id="infoTable"> 
            
            <tbody><tr>  

              <td>2014/10</td>
                <td><b>Physics sGRE: 990/990</b> </td>
              </b></b></td></tr> 

              <td>2015/01</td>
                <td><b>Presidential Award</b>, National Taiwan University</td>
              </b></b></td></tr>

              <td>2011/01</td>
                <td><b>Presidential Award</b>, National Taiwan University</td>
              </b></b></td></tr> 
            </tbody>
          </table>

        <div class="bar-title">Research Publication</div>
          <table id="infoTable"> 
              
            <tbody><tr> 
              <td>2014</td>
                <td>
                "Magnetic field structure in the flattened envelope and jet in the young protostellar system HH 211", Lee, C.-F., Rao, R., Ching, T.-C., Lai, S.-P., Hirano, N., Ho, P. T. P., & <b>Hwang, H.-C.</b>, ApJ, 797 L9
                <br>
                <a href="http://arxiv.org/abs/1411.2184" target="_blank">arxiv.org/abs/1411.2184</a>
                </td>
              </td></tr> 
              
            </tbody>
          </table>

        <div class="bar-title">Other Publication</div>
          <div class="row">
            <div class="col-md-9">
              <table id="infoTable"> 
                  
                <tbody><tr> 
                  <td>2012/12</td>
                    <td>
                    "The Secret of Taking Notes from Five NTU Students", by<b> Hsiang-Chih Hwang</b> and other 4 NTU studnets.
                    <br>
                    <a href="http://www.books.com.tw/products/0010567473" target="_blank">link to the book</a>
                  </td></tr> 
                  
                </tbody>
              </table>
            </div>
            <div class="col-md-3">
              <img class="img-responsive img-full" src="img/book.jpeg" alt="">
            </div>

          </div>


      </div> <!--End: table of experience-->

    </div>

    	
    </div> <!-- ./box -->
  </div> <!-- ./row-->
</div> <!-- ./container -->
  

{% endblock %}