
{% extends "base.html" %}

{% block content %}

<div class="container">

	<div class="row">
        <div class="box">
        	<div class="row">
	        	<div class="col-md-12 text-center">
	             	<hr>
	             		<h1 class="brand-name">Research Project</h1>
	                <hr>
	                <hr class="visible-xs">
	            </div>
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class="box">
        	<div class="row">
	            <div class="col-md-12 text-center">
	             	<hr>
	                	<h2 class="intro-text">
	                    	<strong>Formation of Rotational Disk with ALMA Data</strong>
	                	</h2>
	                	<h4>
	                	2015/1 - Now
	                	</h4>
	                <hr>
	            </div>
            </div>
            <div class="row">
	            <div class="col-md-5">
	            <p>
	            I worked on the rotational disk formation of HH111 under the supervision of Dr. <a href="http://www.asiaa.sinica.edu.tw/people/cv.php?i=9b14093d4906b37426d74991557485c7" target="_blank">Chin-Fei Lee</a>. Our goal was to find clues on the role of the magnetic field in Keplerian disk formation. To obtain both large and small scale structures, I combined 7m and 12m ALMA data, analyzed its PV diagram, and saw some potential transition of angular momentum. The figure on the right is the PV diagram of the disk in the case of c18o (submitted). </p>
	            </div>
	            <div class="col-md-7">
	            <img src="img/c18o_PVdiagram.png" class="img-responsive">
			    
		    	</div>
		    </div>

        </div>
    </div>
    <!-- ./row -->


    <div class="row">
        <div class="box">
        	<div class="row">
	            <div class="col-md-12 text-center">
	             	<hr>
	                	<h2 class="intro-text">
	                    	<strong>Implement Particle in AMR Simulation</strong>
	                	</h2>
	                	<h4>
	                	2014/2 - 2015/7
	                	</h4>
	                <hr>
	        	</div> 
            </div>
            <div class="row">
	            <div class="col-md-5">
	            <p>
	            I worked on implementing and designing particle functions in the adaptive-mesh-refined(AMR) simulation of our group: <a href="http://arxiv.org/abs/0907.3390" target="_blank">GAMER</a>, a project supervised by Dr. Hsi-Yu Schive and Prof. <a href="http://homepage.ntu.edu.tw/~tzihong/Tzihong/About_Me.html" target="_blank">Tzihong Chiueh</a>. I implemented mass deposit scheme, and designed algorithms so that it works well with fine-coarse boundary, time integration, and individual time step. Also, I compared GAMER's performance with other codes like ENZO and FLASH. Lastly, I used the Plummer model to test the performance of GAMER's particle functions, and made 3D visualizations with Mathematica, as shown in the movie on the right.</p>

	            <p>
	            For the next step, our group is going to simulate the structure formation of observable objects, with the particle functions, under the gravity of wave dark matter, which treats the interaction of dark matter in a quantum manner. Based on the previous research (<a href='http://arxiv.org/abs/1406.6586' target='_blank'>arxiv 1406.6586</a>), wave dark matter has less dwarf galaxy problem compared to the Lambda-CDM.
	            </p>
	            </div>
	            <div class="col-md-7">
	            <iframe width="100%" height="473" src="https://www.youtube.com/embed/_5KQgUsQ3R4" frameborder="0" allowfullscreen></iframe>
			    
		    	</div>
		    </div>

        </div>
    </div>
    <!-- ./row -->

    <div class="row">
        <div class="box">
        	<div class="row">
	            <div class="col-md-12 text-center">
	             	<hr>
	                	<h2 class="intro-text">
	                    	<strong>GK Effect Numerical Model</strong>
	                	</h2>
	                	<h4>
	                	2012/7 - 2014/12
	                	</h4>
	                <hr>
	            </div>
            </div>
            <div class="row">
	            <div class="col-md-5">
	            <p>
	            Under the supervision of Dr. <a href="http://www.asiaa.sinica.edu.tw/people/cv.php?i=9b14093d4906b37426d74991557485c7" target="_blank">Chin-Fei Lee</a>, I worked on the Goldreich-Kylafis(GK) Effect to understand the relationship between magnetic field and the obserfved molecular polarization. The numerical model of GK effect is a well-organized, user-friendly and optimized code. Even when there are numerous rotational energy levels from J=0 to J=10 and even more possible transition paths between sublevels, the code can evolve the system to an equilibrium state and yield results efficiently. The figure on the right side shows how polarization degree changes with the direction of magnetic field and line of sight. This model helps us to understand more information about the magnetic field in stellar jets, and the result is published in <a href="http://arxiv.org/abs/1411.2184" target="_blank">Astrophysics Journal Letter</a>.</p>
	            </div>
	            <div class="col-md-7">
	            <img src="img/GK.png" class="img-responsive">

		    	</div>
		    </div>

        </div>
    </div>
    <!-- ./row -->

    <div class="row">
        <div class="box">
        	<div class="row">
	        	<div class="col-md-12 text-center">
	             	<hr>
	             		<h1 class="brand-name">Course Project</h1>
	                <hr>
	                <hr class="visible-xs">
	            </div>
	        </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
        	<div class="row">
	            <div class="col-md-12 text-center">
	             	<hr>
	                	<h2 class="intro-text">
	                    	<strong>Ray Tracing in Black Holes</strong>
	                	</h2>
	                	<h4>
	                	2015/5
	                	</h4>
	                <hr>
	            </div>
              
            </div>
            <div class="row">
	            <div class="col-md-5">
	            <p>	
				Inspired by the movie "Interstellar", I chose to create my own black hole as a course project. The fundamental algorithm is simple: after tracing the trajectory of photons based on General Relativity, I can plot the image pixel by pixel with Matlab. In addition, I put disk structure to mimic an accretion disk. Here are the results of the non-rotating black hole.</p>

                <p>
                background pictures credit: NASA
                <br>
                <a href="http://hubblesite.org/gallery/album/the_universe/hubble_ultra_deep_field/pr2004007a/" target="_blank">Hubble Ultra Deep Field</a>
                <br>

                <a href="http://hubblesite.org/gallery/album/galaxy/spiral/pr2002021a/" target="_blank"> Hoag Object</a>
                </p>
	            </div>
	            <div class="col-md-7">

    	            <div id="carousel-example-generic" class="carousel slide">
    	              <!-- Indicators -->
    	              <ol class="carousel-indicators hidden-xs">
    	                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    	                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    	              </ol>

    	              <!-- Wrapper for slides -->
    	              <div class="carousel-inner">
    	                  <div class="item active">
    	                      <img class="img-responsive img-full" src="img/BlackHole_1024_5disk_10degree.jpg" alt="">
    	                      <div  class="carousel-caption">
    	                        <h4>Accretion Disk</h4>
    	                      </div>
    	                  </div>
    	                  <div class="item">
    	                      <img class="img-responsive img-full" src="img/Ring.jpg" alt="">
    	                      <div  class="carousel-caption">
    	                        <h4>Einstein Ring</h4>
    	                      </div>
    	                  </div>


    	              <!-- Controls -->
    	              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    	                  <span class="icon-prev"></span>
    	              </a>
    	              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    	                  <span class="icon-next"></span>
    	              </a>
	          	    </div>

		    	</div>
		    </div>

        </div>
    </div>
    <!-- ./row -->

    <div class="row">
        <div class="box">
        	<div class="row">
	            <div class="col-md-12 text-center">
	             	<hr>
	                	<h2 class="intro-text">
	                    	<strong>Deep Learning</strong>
	                	</h2>
	                	<h4>
	                	2015/5
	                	</h4>
	                <hr>

	              
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-5">
	            <p>	
				Machine Learning has become an extremely powerful tool in many fields. Because of its potential applications in astronomy, I enrolled in a Machine Learning course. In the final project of Machine Learning course, we had to complete a system, as shown on the right, that can translate English speaking sound into script. I was responsible for DNN (Deep Neural Network) and RNN (Recurrent Neural Network) parts. I wrote my own DNN code, implemented with Python. With GPU acceleration, I sped up the code by 100 times (10 hours->5 mins). Also, I designed many new schemes different from the current popular method. I enjoyed exploring the unknown rather than working on existing methods.</p>
	            </div>
	            <div class="col-md-7">
	            <img src="img/speechML.jpg" class="img-responsive">
			    
		    	</div>
		   	</div>

        </div>
    </div>
    <!-- ./row -->

    <div class="row">
        <div class="box">
        	<div class="row">
	            <div class="col-md-12 text-center">
	             	<hr>
	                	<h2 class="intro-text">
	                    	<strong>BAO Demonstration</strong>
	                	</h2>
	                	<h4>
	                	2014/5
	                	</h4>
	                <hr>

	              
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-5">
	            <p>	
				In my Galaxy course, my class group chose BAO (Baryon Acoustic Oscillations) as our final project, and I decided to write a code to demonstrate how BAO works. In the figures on the right, the blue points are the original perturbation, or the spheres of BAO circles. The code randomly locates points on the spheres with periodic boundary. I then calculate the two-point correlation function to show the fundamental idea of BAO detection.</p>
				<p>
				(The current BAO scale measured about 150Mpc, but here I just simply set it as 20.)</p>
	            </div>
	            <div class="col-md-7">
	            	<img src="img/BAO_1.png" class="img-responsive">
			    	<img src="img/BAO_2.png" class="img-responsive">
		    	</div>
		    </div>

        </div>
    </div>
    <!-- ./row -->
</div>



{% endblock %}