
{% extends "base.html" %}

{% block content %}

<div class="container">
  
  <div class="box">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">

        <div class="table-responsible">
          <table class="table table-hover">

            <tr>
              <th>#</th>
              <th>School</th>
              <th>Application Deadline</th>
              <th>Status</th>
            </tr>

            <tr>
              <td>1</td>
              <td>Arizona</td>
              <td>12/1</td>
              <td>Submitted</td>
            </tr>

            <tr>
              <td>2</td>
              <td>Colorado</td>
              <td>12/1</td>
              <td>Submitted</td>
            </tr>

            <tr>
              <td>3</td>
              <td>Berkeley</td>
              <td>12/7</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>4</td>
              <td>UT Austin</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>5</td>
              <td>UCLA</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>6</td>
              <td>Stanford</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>7</td>
              <td>Johns Hopkins</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>8</td>
              <td>Harvard</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>9</td>
              <td>Maryland</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>10</td>
              <td>MIT</td>
              <td>12/15</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>11</td>
              <td>Princeton</td>
              <td>12/31</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>12</td>
              <td>Wisconsin</td>
              <td>12/31</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>13</td>
              <td>Yale</td>
              <td>1/2</td>
              <td>Uploading Files</td>
            </tr>

            

            <tr>
              <td>14</td>
              <td>UCSC</td>
              <td>1/5</td>
              <td>Uploading Files</td>
            </tr>

            <tr>
              <td>15</td>
              <td>Toronto</td>
              <td>1/15</td>
              <td>Uploading Files</td>
            </tr>

            



          </table>
        </div> <!-- <div class="table-responsible">  -->

        <p>
        (Last Update: 2015/11/29)
        </p>

      </div> <!-- <div class="col-md-offset-1 col-md-10">  -->
      
    </div> <!-- <div class="row">  -->
  </div> <!-- <div class="box">  -->

    
  

</div> 



{% endblock %}